-- Pubs Example Database adapted from a Microsoft sample database
-- Original version retrieved from https://www.microsoft.com/en-us/download/details.aspx?id=23654
-- 20180909 JPC John Calder, Manukau Institute of Technology 
-- Adapted with modern conventions for identifiers and singular names for tables.
--
-- This alternative does NOT have Microsoft "Identity" membership tables. 
--
-- To get started with Microsoft SQL Server Management Studio, create a new empty database.
-- then replace "Pubs" in the first statement below with the name of your new empty database.

USE [Pubs]
GO

/****** Object:  Table [dbo].[Author]    Script Date: 5/09/2018 4:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[AuthorId] [varchar](11) NOT NULL,
	[Lastname] [varchar](40) NOT NULL,
	[Firstnames] [varchar](20) NOT NULL,
	[Phone] [char](12) NOT NULL,
	[Address] [varchar](40) NULL,
	[City] [varchar](20) NULL,
	[State] [char](2) NULL,
	[Zip] [char](5) NULL,
	[IsContract] [bit] NOT NULL,
 CONSTRAINT [PK_Author] PRIMARY KEY CLUSTERED 
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 5/09/2018 4:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[DiscountId] [int] IDENTITY(1,1) NOT NULL,
	[DiscountType] [varchar](40) NOT NULL,
	[StoreId] [char](4) NULL,
	[LowQty] [smallint] NULL,
	[HighQty] [smallint] NULL,
	[Amount] [decimal](4, 2) NOT NULL,
 CONSTRAINT [PK_Discount] PRIMARY KEY CLUSTERED 
(
	[DiscountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 5/09/2018 4:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeId] [varchar](10) NOT NULL,
	[Firstname] [varchar](20) NOT NULL,
	[MiddleInitial] [char](1) NULL,
	[Lastname] [varchar](30) NOT NULL,
	[JobId] [smallint] NOT NULL,
	[JobLevel] [tinyint] NULL,
	[PubId] [char](4) NOT NULL,
	[HireDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job]    Script Date: 5/09/2018 4:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job](
	[JobId] [smallint] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[MinLevel] [tinyint] NOT NULL,
	[MaxLevel] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PubInfo]    Script Date: 5/09/2018 4:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PubInfo](
	[PubId] [char](4) NOT NULL,
	[Logo] [image] NULL,
	[Info] [text] NULL,
 CONSTRAINT [PK_PubInfo] PRIMARY KEY CLUSTERED 
(
	[PubId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publisher]    Script Date: 5/09/2018 4:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publisher](
	[PubId] [char](4) NOT NULL,
	[PubName] [varchar](40) NULL,
	[City] [varchar](20) NULL,
	[State] [char](2) NULL,
	[Country] [varchar](30) NULL,
 CONSTRAINT [PK_Publisher] PRIMARY KEY CLUSTERED 
(
	[PubId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoyaltySchedule]    Script Date: 5/09/2018 4:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoyaltySchedule](
	[RoyaltyScheduleId] [int] IDENTITY(1,1) NOT NULL,
	[TitleId] [varchar](6) NOT NULL,
	[LoRange] [int] NULL,
	[HiRange] [int] NULL,
	[Royalty] [int] NULL,
 CONSTRAINT [PK_RoyaltySchedule] PRIMARY KEY CLUSTERED 
(
	[RoyaltyScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 5/09/2018 4:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[StoreId] [char](4) NOT NULL,
	[OrderNo] [varchar](20) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[Qty] [smallint] NOT NULL,
	[PayTerms] [varchar](12) NOT NULL,
	[TitleId] [varchar](6) NOT NULL,
 CONSTRAINT [UPKCL_Sale] PRIMARY KEY CLUSTERED 
(
	[StoreId] ASC,
	[OrderNo] ASC,
	[TitleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Store]    Script Date: 5/09/2018 4:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Store](
	[StoreId] [char](4) NOT NULL,
	[StoreName] [varchar](40) NULL,
	[Address] [varchar](40) NULL,
	[City] [varchar](20) NULL,
	[State] [char](2) NULL,
	[Zip] [char](5) NULL,
 CONSTRAINT [PK_Store] PRIMARY KEY CLUSTERED 
(
	[StoreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TitleAuthor]    Script Date: 5/09/2018 4:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TitleAuthor](
	[AuthorId] [varchar](11) NOT NULL,
	[TitleId] [varchar](6) NOT NULL,
	[AuthorSequence] [tinyint] NULL,
	[RoyaltyPerAuthor] [int] NULL,
 CONSTRAINT [UPKCL_taind] PRIMARY KEY CLUSTERED 
(
	[AuthorId] ASC,
	[TitleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Title]    Script Date: 5/09/2018 4:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Title](
	[TitleId] [varchar](6) NOT NULL,
	[TitleOfBook] [varchar](80) NOT NULL,
	[Subject] [char](12) NOT NULL,
	[PubId] [char](4) NULL,
	[Price] [money] NULL,
	[Advance] [money] NULL,
	[Royalty] [int] NULL,
	[YtdSales] [int] NULL,
	[Notes] [varchar](200) NULL,
	[PubDate] [datetime] NULL,
 CONSTRAINT [UPKCL_titleidind] PRIMARY KEY CLUSTERED 
(
	[TitleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Author] ([AuthorId], [Lastname], [Firstnames], [Phone], [Address], [City], [State], [Zip], [IsContract]) VALUES (N'172-32-1176', N'White', N'Johnson', N'408 496-7223', N'10932 Bigge Rd.', N'Menlo Park', N'CA', N'94025', 1)
INSERT [dbo].[Author] ([AuthorId], [Lastname], [Firstnames], [Phone], [Address], [City], [State], [Zip], [IsContract]) VALUES (N'213-46-8915', N'Green', N'Marjorie', N'415 986-7020', N'309 63rd St. #411', N'Oakland', N'CA', N'94618', 1)
INSERT [dbo].[Author] ([AuthorId], [Lastname], [Firstnames], [Phone], [Address], [City], [State], [Zip], [IsContract]) VALUES (N'238-95-7766', N'Carson', N'Cheryl', N'415 548-7723', N'589 Darwin Ln.', N'Berkeley', N'CA', N'94705', 1)
SET IDENTITY_INSERT [dbo].[Discount] ON 

INSERT [dbo].[Discount] ([DiscountId], [DiscountType], [StoreId], [LowQty], [HighQty], [Amount]) VALUES (1, N'Initial Customer', NULL, NULL, NULL, CAST(10.50 AS Decimal(4, 2)))
INSERT [dbo].[Discount] ([DiscountId], [DiscountType], [StoreId], [LowQty], [HighQty], [Amount]) VALUES (2, N'Volume Discount', NULL, 100, 1000, CAST(6.70 AS Decimal(4, 2)))
INSERT [dbo].[Discount] ([DiscountId], [DiscountType], [StoreId], [LowQty], [HighQty], [Amount]) VALUES (3, N'Customer Discount', N'8042', NULL, NULL, CAST(5.00 AS Decimal(4, 2)))
SET IDENTITY_INSERT [dbo].[Discount] OFF
INSERT [dbo].[Employee] ([EmployeeId], [Firstname], [MiddleInitial], [Lastname], [JobId], [JobLevel], [PubId], [HireDate]) VALUES (N'PMA42628M', N'Paolo', N'M', N'Accorti', 13, 35, N'0877', CAST(N'1992-08-27T00:00:00.000' AS DateTime))
INSERT [dbo].[Employee] ([EmployeeId], [Firstname], [MiddleInitial], [Lastname], [JobId], [JobLevel], [PubId], [HireDate]) VALUES (N'PSA89086M', N'Pedro', N'S', N'Afonso', 14, 89, N'1389', CAST(N'1990-12-24T00:00:00.000' AS DateTime))
INSERT [dbo].[Employee] ([EmployeeId], [Firstname], [MiddleInitial], [Lastname], [JobId], [JobLevel], [PubId], [HireDate]) VALUES (N'VPA30890F', N'Victoria', N'P', N'Ashworth', 6, 140, N'0877', CAST(N'1990-09-13T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Job] ON 

INSERT [dbo].[Job] ([JobId], [Description], [MinLevel], [MaxLevel]) VALUES (1, N'New Hire - Job not specified', 10, 10)
INSERT [dbo].[Job] ([JobId], [Description], [MinLevel], [MaxLevel]) VALUES (2, N'Chief Executive Officer', 200, 250)
INSERT [dbo].[Job] ([JobId], [Description], [MinLevel], [MaxLevel]) VALUES (3, N'Business Operations Manager', 175, 225)
SET IDENTITY_INSERT [dbo].[Job] OFF
INSERT [dbo].[Publisher] ([PubId], [PubName], [City], [State], [Country]) VALUES (N'0736', N'New Moon Books', N'Boston', N'MA', N'USA')
INSERT [dbo].[Publisher] ([PubId], [PubName], [City], [State], [Country]) VALUES (N'0877', N'Binnet & Hardley', N'Washington', N'DC', N'USA')
INSERT [dbo].[Publisher] ([PubId], [PubName], [City], [State], [Country]) VALUES (N'1389', N'Algodata Infosystems', N'Berkeley', N'CA', N'USA')
SET IDENTITY_INSERT [dbo].[RoyaltySchedule] ON 

INSERT [dbo].[RoyaltySchedule] ([RoyaltyScheduleId], [TitleId], [LoRange], [HiRange], [Royalty]) VALUES (1, N'BU1032', 0, 5000, 10)
INSERT [dbo].[RoyaltySchedule] ([RoyaltyScheduleId], [TitleId], [LoRange], [HiRange], [Royalty]) VALUES (2, N'BU1032', 5001, 50000, 12)
INSERT [dbo].[RoyaltySchedule] ([RoyaltyScheduleId], [TitleId], [LoRange], [HiRange], [Royalty]) VALUES (3, N'PC1035', 0, 2000, 10)
SET IDENTITY_INSERT [dbo].[RoyaltySchedule] OFF
INSERT [dbo].[Sale] ([StoreId], [OrderNo], [OrderDate], [Qty], [PayTerms], [TitleId]) VALUES (N'6380', N'6871', CAST(N'1994-09-14T00:00:00.000' AS DateTime), 5, N'Net 60', N'BU1032')
INSERT [dbo].[Sale] ([StoreId], [OrderNo], [OrderDate], [Qty], [PayTerms], [TitleId]) VALUES (N'6380', N'722a', CAST(N'1994-09-13T00:00:00.000' AS DateTime), 3, N'Net 60', N'PS2091')
INSERT [dbo].[Sale] ([StoreId], [OrderNo], [OrderDate], [Qty], [PayTerms], [TitleId]) VALUES (N'7066', N'A2976', CAST(N'1993-05-24T00:00:00.000' AS DateTime), 50, N'Net 30', N'PC8888')
INSERT [dbo].[Store] ([StoreId], [StoreName], [Address], [City], [State], [Zip]) VALUES (N'6380', N'Eric the Read Books', N'788 Catamaugus Ave.', N'Seattle', N'WA', N'98056')
INSERT [dbo].[Store] ([StoreId], [StoreName], [Address], [City], [State], [Zip]) VALUES (N'7066', N'Barnum''s', N'567 Pasadena Ave.', N'Tustin', N'CA', N'92789')
INSERT [dbo].[Store] ([StoreId], [StoreName], [Address], [City], [State], [Zip]) VALUES (N'7067', N'News & Brews', N'577 First St.', N'Los Gatos', N'CA', N'96745')
INSERT [dbo].[TitleAuthor] ([AuthorId], [TitleId], [AuthorSequence], [RoyaltyPerAuthor]) VALUES (N'172-32-1176', N'PS3333', 1, 100)
INSERT [dbo].[TitleAuthor] ([AuthorId], [TitleId], [AuthorSequence], [RoyaltyPerAuthor]) VALUES (N'213-46-8915', N'BU1032', 2, 40)
INSERT [dbo].[TitleAuthor] ([AuthorId], [TitleId], [AuthorSequence], [RoyaltyPerAuthor]) VALUES (N'213-46-8915', N'BU2075', 1, 100)
INSERT [dbo].[Title] ([TitleId], [TitleOfBook], [Subject], [PubId], [Price], [Advance], [Royalty], [YtdSales], [Notes], [PubDate]) VALUES (N'BU1032', N'The Busy Executive''s Database Guide', N'business    ', N'1389', 19.9900, 5000.0000, 10, 4095, N'An overview of available database systems with emphasis on common business applications. Illustrated.', CAST(N'1991-06-12T00:00:00.000' AS DateTime))
INSERT [dbo].[Title] ([TitleId], [TitleOfBook], [Subject], [PubId], [Price], [Advance], [Royalty], [YtdSales], [Notes], [PubDate]) VALUES (N'BU1111', N'Cooking with Computers: Surreptitious Balance Sheets', N'business    ', N'1389', 11.9500, 5000.0000, 10, 3876, N'Helpful hints on how to use your electronic resources to the best advantage.', CAST(N'1991-06-09T00:00:00.000' AS DateTime))
INSERT [dbo].[Title] ([TitleId], [TitleOfBook], [Subject], [PubId], [Price], [Advance], [Royalty], [YtdSales], [Notes], [PubDate]) VALUES (N'BU2075', N'You Can Combat Computer Stress!', N'business    ', N'0736', 2.9900, 10125.0000, 24, 18722, N'The latest medical and psychological techniques for living with the electronic office. Easy-to-understand explanations.', CAST(N'1991-06-30T00:00:00.000' AS DateTime))
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_EmployeeId]    Script Date: 5/09/2018 4:47:57 PM ******/
ALTER TABLE [dbo].[Employee] ADD  CONSTRAINT [PK_EmployeeId] PRIMARY KEY NONCLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Author] ADD  CONSTRAINT [DF__Author__Phone__239E4DCF]  DEFAULT ('UNKNOWN') FOR [Phone]
GO
ALTER TABLE [dbo].[Employee] ADD  CONSTRAINT [DF__Employee__JobId__1B0907CE]  DEFAULT ((1)) FOR [JobId]
GO
ALTER TABLE [dbo].[Employee] ADD  CONSTRAINT [DF__Employee__job_lv__1CF15040]  DEFAULT ((10)) FOR [JobLevel]
GO
ALTER TABLE [dbo].[Employee] ADD  CONSTRAINT [DF__Employee__PubId__1DE57479]  DEFAULT ('9952') FOR [PubId]
GO
ALTER TABLE [dbo].[Employee] ADD  CONSTRAINT [DF__Employee__hire_d__1FCDBCEB]  DEFAULT (getdate()) FOR [HireDate]
GO
ALTER TABLE [dbo].[Job] ADD  DEFAULT ('New Position - title not formalized yet') FOR [Description]
GO
ALTER TABLE [dbo].[Publisher] ADD  DEFAULT ('USA') FOR [Country]
GO
ALTER TABLE [dbo].[Title] ADD  CONSTRAINT [DF__Title__type__3A81B327]  DEFAULT ('UNDECIDED') FOR [Subject]
GO
ALTER TABLE [dbo].[Title] ADD  CONSTRAINT [DF__Title__PubDate__3B75D760]  DEFAULT (getdate()) FOR [PubDate]
GO
ALTER TABLE [dbo].[Discount]  WITH CHECK ADD  CONSTRAINT [FK__Discount__stor___3E52440B] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Store] ([StoreId])
GO
ALTER TABLE [dbo].[Discount] CHECK CONSTRAINT [FK__Discount__stor___3E52440B]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK__Employee__JobId__1BFD2C07] FOREIGN KEY([JobId])
REFERENCES [dbo].[Job] ([JobId])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK__Employee__JobId__1BFD2C07]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK__Employee__PubId__1ED998B2] FOREIGN KEY([PubId])
REFERENCES [dbo].[Publisher] ([PubId])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK__Employee__PubId__1ED998B2]
GO
ALTER TABLE [dbo].[PubInfo]  WITH CHECK ADD FOREIGN KEY([PubId])
REFERENCES [dbo].[Publisher] ([PubId])
GO
ALTER TABLE [dbo].[RoyaltySchedule]  WITH CHECK ADD  CONSTRAINT [FK__RoyaltySchedule__title___4222D4EF] FOREIGN KEY([TitleId])
REFERENCES [dbo].[Title] ([TitleId])
GO
ALTER TABLE [dbo].[RoyaltySchedule] CHECK CONSTRAINT [FK__RoyaltySchedule__title___4222D4EF]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK__Sale__StoreId__4316F928] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Store] ([StoreId])
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK__Sale__StoreId__4316F928]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK__Sale__TitleId__440B1D61] FOREIGN KEY([TitleId])
REFERENCES [dbo].[Title] ([TitleId])
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK__Sale__TitleId__440B1D61]
GO
ALTER TABLE [dbo].[TitleAuthor]  WITH CHECK ADD  CONSTRAINT [FK__titleauth__AuthorId__44FF419A] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Author] ([AuthorId])
GO
ALTER TABLE [dbo].[TitleAuthor] CHECK CONSTRAINT [FK__titleauth__AuthorId__44FF419A]
GO
ALTER TABLE [dbo].[TitleAuthor]  WITH CHECK ADD  CONSTRAINT [FK__titleauth__title__45F365D3] FOREIGN KEY([TitleId])
REFERENCES [dbo].[Title] ([TitleId])
GO
ALTER TABLE [dbo].[TitleAuthor] CHECK CONSTRAINT [FK__titleauth__title__45F365D3]
GO
ALTER TABLE [dbo].[Title]  WITH CHECK ADD  CONSTRAINT [FK__Title__PubId__46E78A0C] FOREIGN KEY([PubId])
REFERENCES [dbo].[Publisher] ([PubId])
GO
ALTER TABLE [dbo].[Title] CHECK CONSTRAINT [FK__Title__PubId__46E78A0C]
GO
ALTER TABLE [dbo].[Author]  WITH CHECK ADD  CONSTRAINT [CK__Author__AuthorId__47DBAE45] CHECK  (([AuthorId] like '[0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Author] CHECK CONSTRAINT [CK__Author__AuthorId__47DBAE45]
GO
ALTER TABLE [dbo].[Author]  WITH CHECK ADD  CONSTRAINT [CK__Author__Zip__48CFD27E] CHECK  (([Zip] like '[0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Author] CHECK CONSTRAINT [CK__Author__Zip__48CFD27E]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [CK_EmployeeId] CHECK  (([EmployeeId] like '[A-Z][A-Z][A-Z][1-9][0-9][0-9][0-9][0-9][FM]' OR [EmployeeId] like '[A-Z]-[A-Z][1-9][0-9][0-9][0-9][0-9][FM]'))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [CK_EmployeeId]
GO
ALTER TABLE [dbo].[Job]  WITH CHECK ADD CHECK  (([MaxLevel]<=(250)))
GO
ALTER TABLE [dbo].[Job]  WITH CHECK ADD CHECK  (([MinLevel]>=(10)))
GO
ALTER TABLE [dbo].[Publisher]  WITH CHECK ADD CHECK  (([PubId]='1756' OR ([PubId]='1622' OR ([PubId]='0877' OR ([PubId]='0736' OR [PubId]='1389'))) OR [PubId] like '99[0-9][0-9]'))
GO
