
@{
    ViewData["Title"] = "ReportProd02Ang";
}

<!--
    20180319 20180904 JPC
    NOTE that Custom styles for this page as seen below also need custom code in the head of the parent layout page _Layout.cshtml
    ref: https://stackoverflow.com/questions/17641972/add-css-js-or-other-content-to-a-views-head-from-partial-views
 -->
@section StyleAngularJS {
    <style>
        table, th, td {
            border: 1px solid grey;
            border-collapse: collapse;
        }

        /*20180904 JPC needs more padding and needs align right for money values*/
        th, td {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: right;
        }

        table tr:nth-child(odd) {
            background-color: #f1f1f1;
        }

        table tr:nth-child(even) {
            background-color: #ffffff;
        }
    </style>
}

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>



<h2>ReportProd2Ang</h2>

<div ng-app="myApp" ng-controller="reportCtrl">

    <table>
        <tr>
            <th>ProductId</th>
            <th>Product Name</th>
            <th>Color</th>
            <th>Size</th>
            <th>Weight</th>
            <th>Standard Cost</th>
            <th>List Price</th>
            <th>Profit/unit</th>
        </tr>
        <tr ng-repeat="item in report" style="vertical-align:top">
            <td>{{ item.ProductID }}</td>
            <td>{{ item.Name}}</td>
            <td>{{ item.Color}}</td>
            <td>{{ item.Size}}</td>
            <td>{{ item.Weight}}</td>
            <td>{{ item.StandardCost}}</td>
            <td>{{ item.ListPrice}}</td>
            <td>{{ item.Profit}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><b>TOTAL:</b></td>
            <td><b>{{total}}</b></td>
        </tr>

    </table>

</div>

<script>
    var _$http;
    var _$scope;
    var app = angular.module('myApp', []);
    app.controller('reportCtrl', xConstructor);

    function xConstructor($scope, $http) {
        _$http = $http;
        _$scope = $scope;
        $http.get("/Products/GetProd02AngData").then(xReceive);
    }
    
    function xReceive(reportObject) {
        //alert("json.length = " + json.length);
        var profitTotal = 0;
        for (var i = 0; i < reportObject.data.length; i++) {
            //20180904 JPC 3 x money fields in this report
            var standardCost = reportObject.data[i].StandardCost;
            reportObject.data[i].StandardCost = parseFloat(standardCost).toFixed(2).toString();
            var listPrice = reportObject.data[i].ListPrice;
            reportObject.data[i].ListPrice = parseFloat(listPrice).toFixed(2).toString();
            var profit = reportObject.data[i].Profit;
            profitTotal += profit;
            reportObject.data[i].Profit = parseFloat(profit).toFixed(2).toString();
        }
        _$scope.report = reportObject.data;
        _$scope.total = parseFloat(profitTotal).toFixed(2).toString();
        //alert("The total is: " + profitTotal);
    }

    //20180321 JPC update product prices
    function xUpdate(productId, unitCost) {
        //alert("User is sending a value to the server");
        _$http.get("/report/PutProduct?ProductId=" + productId + "&UnitCost=" + unitCost).then(xResult);
    }

    function xResult(response) {
        //alert(response);
        var rowsChanged = parseInt(result);
        if (rowsChanged != 1) {
            alert("Database issue: rows change expected value is 1. Actual value is " + rowsChanged + ". Please alert your admin or support people.");
        }
        //alert(response);
    }
</script>
@{
    ViewData["Title"] = "ReportProd02Ang";
}


