
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<form action="" method="post">
    <textarea name="json" cols="40" rows="15"></textarea>
    <br />
    <input type="submit" value="Submit" />
    <br /><br />
    <h4>@ViewData["MinPrice"]</h4>

</form>

