
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h1>About</h1>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" id="c1">
            <h3>LAWN TENNIS FOR LADIES by MRS. LAMBERT CHAMBERS</h3>
            <p>First published in 1910, London</p>

            <p>
                I am writing with no academic pride, but only with a passionate fondness for what I consider a great
                sport, and with a keen desire to make others equally devoted.

            </p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/kxbKfDH8Hxs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    
    <div class="col-lg-6 col-md-12 col-sm-12" id="c2">
        <h3>ATHLETICS FOR GIRLS</h3>

        <p>
            I hope and believe there are comparatively few people who will deny that
            athletics have done much for the health and mind of the modern girl.
            Exercise in some form or other is essential, and although I am quite
            ready to admit that games of the strenuous type, such as hockey and lawn
            tennis, can be and sometimes are overdone, yet the girl of to-day, who
            enters into and enjoys her game, is, I am convinced, better in health and happier in herself
            than the girl of the past generation.
        </p>
    </div>
    
    <div class="col-lg-2 col-md-4 col-sm-12 xminh" id="c3">
        <h3>PRACTICE, AND HOW TO IMPROVE</h3>

        <p>
            Players, even tournament players, often ask how they can improve. "I
            have been at the same stage so long; what can I do to play a better
            game?" That is not infrequently the question. Now I think many who are
            very anxious to advance go to work in the wrong way. To my mind, the
            great point to remember when you are practising is not that the match
            must be won, but that all your weak strokes must be improved. We all
            know our special failures; if not, some kind friend will soon point them
            out to us. Tackle these doggedly in practice.
        </p>
    </div>
    
    <div class="col-lg-2 col-md-4 col-sm-6 xminh" id="c4">
        <h3>MATCH AND TOURNAMENT PLAY</h3>

        <p>
            When you have acquired a certain knowledge of the game and can play the
            various strokes in the correct way, then, as I have said, tournament and
            match play is the very best method of improvement. I would emphasize the
            need for a certain standard of efficiency, because I am convinced that
            at the present time there are too many weak players competing at open
            meetings. The style of these players has only to be watched to be
            condemned, and their knowledge of the game is hopelessly limited.
        </p>
    </div>
   
    <div class="col-lg-2 col-md-4 col-sm-6 xminh" id="c5">
        <h3>RACKETS, COURTS, DRESS, AND TRAINING</h3>

        <p>
            I advise a plain gored skirt--not pleated; I think these are most
            unsuitable on court--about four or five inches from the ground. It
            should just clear your ankles and have plenty of fullness round the hem.
            White is undoubtedly the best colour to wear. It washes well and does
            not fade, and looks very much neater on the court than a coloured
            material. I prefer white shoes and stockings, for I think it looks nicer
            to be in one uniform colour. But this is a matter of taste. Some people
            urge that white shoes make your feet appear much bigger than black or
            brown. I do not agree.
        </p>
    </div>
        </div>

</div>
