
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

Attribution:
Byrn, E., (1900) The Progress of Invention in the Nineteenth Century.
Retrieved from http://www.gutenberg.org/files/41538/41538-0.txt
--------------------------------------------------------------

<h2>Invention of the Bicycle</h2>

<p>
    The true bicycle was the product of the Nineteenth Century. The earliest version
    was invented in 1816 by Baron von Drais, of Manheim-on-the Rhine and originally
    called the "Draisine" or "Hobby Horse". In 1869 Magee, in Paris, made the entire
    bicycle of iron and steel. Solid rubber tires and brakes followed, and the front
    wheel began to grow to larger size to become the "Penny Farthing".
    It gave good results but for the accidents from “headers,” to which it was especially
    liable. The modern “Safety,” however, is quite a different machine. Its diamond frame of
    light but strong tubular steel, its ball bearings, its suspension wheels
    and pneumatic tires impart to the modern bicycle strength with
    lightness, and beauty with efficiency
</p>


<h2>The Success of the Bicycle in 1900</h2>

<p>
    A characteristic trend of the present age is toward increased speed in
    everything, and the most conspicuous example of accelerated speed in
    late years is the bicycle. It has, with its fascination of silent motion
    and the exhilaration of flight, driven the younger generation wild with
    enthusiasm, has limbered up the muscles of old age, has revolutionized
    the attire of men and women, and well-nigh supplanted the old-fashioned
    use of legs. It is to be found everywhere, even to the steppes of Asia, the plains
    of Australia, and the ice fields of the Arctic.
</p>


<h2>Bicycle Tires</h2>

<p>
    The most important of all modern improvements on the bicycle was perhaps
    the pneumatic tire. This was not originally designed for the bicycle,
    but was patented in England by R. W. Thompson in 1845 and in the United
    States May 8, 1847, No. 5,104. Its application to the bicycle was made
    in 1889 by Dunlop, United States patent No. 435,995, Sept. 9, 1890, and
    453,550, June 2, 1891. It furnishes not only an elastic bearing which
    cushions the jar, but also makes a broader tread that renders cycling on
    the soft roads of the country at once practical and delightful.
</p>


<h2>Rubber and Bicycle Tires</h2>

<p>
    The pneumatic bicycle tire could
    not exist without rubber, and the modern application of it to this use
    alone amounts to nearly four million pounds annually. Every automobile
    carriage takes twenty-five pounds of rubber for each tire, or 100 pounds
    altogether. This great and growing industry, together with the now
    common use of rubber tires on horse-drawn vehicles, raises the sum total
    of rubber employed in the arts to an enormous figure.
</p>


<h2>Artificial Legs and Bicycle Riding</h2>

<p>
    Modern improvements in making wooden legs have extended to every
    detail of construction, and so perfect to-day is the average wooden leg
    that it is hardly to be detected. Men with wooden legs ride horseback,
    are expert users of the bicycle, and have even performed feats on the
    tight rope. In patent No.
    366,494, July 12, 1887, to G. E. Marks, the foot and leg portion of a
    wooden leg are made from wood which grows with a crook, as at the root
    of a tree, where the strength and lightness of a continuous natural
    grain is obtained at the instep.
</p>